@using SmartShelter_Web.Dtos;
@using SmartShelter_Web.Models.ViewModel;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model StaffDetailsVM
@{
    List<string> roles = new List<string>() { "Admin", "Doctor", "Guest", "Storekeeper" };
}
<div class="card text-center">
    <div class="card-title m-3">
        <h4>@Model.Staff.Name</h4>
        <hr />
    </div>
    <div class="card-body">
        <form method="post" asp-action="UpdateStaff">
            <div class="row justify-content-center">
                <input hidden asp-for="@Model.Staff.Id" />
                <input hidden asp-for="@Model.Staff.IdentityUserId" />
                <div class="mb-3 col-7 p-1">
                    <label class="p-0  pb-2" asp-for="@Model.Staff.Name">@localizer["Name"]</label>
                    <input asp-for="@Model.Staff.Name" class="form-control" />
                    <span asp-validation-for="@Model.Staff.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6 p-1">
                    <label class="p-0  pb-2" asp-for="@Model.Staff.Phone">@localizer["Phone"]</label>
                    <input asp-for="@Model.Staff.Phone" class="form-control" />
                    <span asp-validation-for="@Model.Staff.Phone" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6 p-1">
                    <label class="p-0  pb-2" asp-for="@Model.Staff.DOB">@localizer["DOB"]</label>
                    <input type="date" asp-for="@Model.Staff.DOB" class="form-control" />
                    <span asp-validation-for="@Model.Staff.DOB" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6 p-1">
                    <label class="p-0  pb-2" asp-for="@Model.Staff.Position">@localizer["Position"]</label>
                    <input asp-for="@Model.Staff.Position" class="form-control" />
                    <span asp-validation-for="@Model.Staff.Position" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6 p-1">
                    <label class="p-0  pb-2" asp-for="@Model.Staff.HasRole">@localizer["HasRole"]</label>
                    <select class="form-select" name="selectedRole">
                        @foreach (var role in roles)
                        {
                            var item = new SelectListItem { Value = $"{role}", Text = $"{role}" };
                            if (role == Model.Role)
                            {
                                <option selected value="@item.Value">@item.Text</option>
                            }
                            else{
                                 <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6 p-1">
                    <label class="p-0  pb-2" asp-for="@Model.Staff.AcceptanceDate">@localizer["AcceptanceDate"]</label>
                    <input type="date" asp-for="@Model.Staff.AcceptanceDate" class="form-control" />
                    <span asp-validation-for="@Model.Staff.AcceptanceDate" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6 p-1">
                    <label class="p-0  pb-2" asp-for="@Model.Staff.DismissialDate">@localizer["DismissialDate"]</label>
                    <input type="date" asp-for="@Model.Staff.DismissialDate"
                           value="@(Model.Staff.DismissialDate == null ? DateTime.MinValue : Model.Staff.DismissialDate)"
                    class="form-control" />
                    <span asp-validation-for="@Model.Staff.DismissialDate" class="text-danger"></span>
                </div>
            </div>
            <div> <button type="submit" class="btn btn-success">@localizer["Update"]</button></div>
        </form>
    </div>
</div>

