@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@{
    Layout = "~/Views/Animal/_AnimalLayout.cshtml";
}

@model List<Animal>


<table class="table table-light">
    <thead>
        <tr>
            <th scope="col">@localizer["Name"]</th>
            <th scope="col">@localizer["Breed"]</th>
            <th scope="col">@localizer["Gender"]</th>
            <th scope="col">@localizer["AccDate"]</th>
            <th scope="col">@localizer["Details"]</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var animal in Model)
        {
            <tr>
                <th scope="row">@animal.Name</th>
                <td>@animal.Breed</td>
                <td>@animal.Gender</td>
                <td>@animal.AcceptanceDate.ToString("d")</td>
                <td>
                    <div class="col-10 text-end">
                        <a asp-route-animalId="@animal.Id" asp-action="Details" class="btn btn-secondary">
                            @localizer["Details"]
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>