@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
    Layout = "~/Views/Animal/_AnimalLayout.cshtml";
}
@model List<AviaryDescription>

<div class="row justify-content-end m-2">
    <a class="btn btn-success col-2" asp-action="AddAviary" asp-controller="Aviary">@localizer["AddNew"]</a>
</div>
<form method="post" asp-action="GetAviariesToFeed" asp-controller="Aviary">
    <table class="table table-light">
        <thead>
            <tr>
                <th scope="col">@localizer["Number"]</th>
                <th scope="col">@localizer["Description"]</th>
                <th scope="col">@localizer["HasAnimal"]</th>
                <th scope="col">@localizer["TotalFood"]</th>
                <th scope="col">@localizer["LastFoodRecharge"]</th>
                <th scope="col">@localizer["Feed"]</th>
                <th>@localizer["MinWater"]</th>
                <th>@localizer["WaterNow"]</th>
                <th>@localizer["Delete"]</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <th scope="row">@Model[i].Aviary.Id</th>
                    <td>@Model[i].Aviary.Description</td>
                    <td>@(Model[i].Aviary.Animal == null ? " " : Model[i].Aviary.Animal.Name)</td>
                    <td>@(Model[i].FoodPerDay != null ? Math.Round((float)Model[i].FoodPerDay, 2) : 0)</td>
                    <td>@(Model[i].LastRecharge == null ? " " : Model[i].LastRecharge)</td>
                    <td>
                        <input class="form-check-input" name="selectedAviaries" type="checkbox" value="@Model[i].Aviary.Id">
                    </td>
                    <td>@(Model[i].Aviary.AviaryCondition != null ? Model[i].Aviary.AviaryCondition.MinWater! : 0)</td>
                    <td class="text-@(
                        Model[i].Aviary.AviaryCondition != null &&
                        Model[i].WaterNow < Model[i].Aviary.AviaryCondition.MinWater ? "danger" : "black")">@Model[i].WaterNow</td>
                    <td><a class="btn btn-danger" asp-route-aviaryId="@Model[i].Aviary.Id" asp-action="DeleteAviary" asp-controller="Aviary">@localizer["Delete"]</a></td>
                </tr>
            }

        </tbody>
    </table>

    <div class="row justify-content-end m-2">
        <button type="submit" class="btn btn-warning col-2">@localizer["Feed"]</button>
    </div>

</form>

<div class="row">
    <div class="card m-3 justify-content-center">
        <h4 class="m-3">@localizer["AddWater"]</h4>
        @if (Model.Count > 0)
        {
            <form method="post" asp-action="AddWater">
                <div class="row ">

                    <label class="p-0  pb-2">@localizer["SelectAviary"]</label>
                </div>
                <div class="row col-10 m-3">
                    <select class="form-select" name="selectedAviary">
                        @foreach (var aviary in Model)
                        {
                            var item = new SelectListItem { Value = $"{aviary.Aviary.Id}", Text = $"{aviary.Aviary.Id}" };
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
                <label class="p-0  pb-2">@localizer["EnterWNumber"]</label>
                <input name="water" />
                <button type="submit" class="btn btn-success m-3">@localizer["Add"]</button>
            </form>
        }
        else
        {
            <h5 class="m-3">@localizer["NoAviary"]</h5>
        }
    </div>
</div>