@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
    Layout = "~/Views/_AuthLayout.cshtml";
}


@model SmartShelter_Web.Models.ViewModel.LoginModel



<div class="row">
    <div class="col-md-10">
        <section>
            <form  asp-action="Login" method="post">
                <h2>@localizer["Login"]</h2>
                <hr />
                <div class="mb-3">
                    <label asp-for="@Model.Username" class="form-label">@localizer["Email"]</label>
                    <input asp-for="@Model.Username" class="form-control" />
                    <span asp-validation-for="@Model.Username" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Password" class="form-label">@localizer["Password"]</label>
                    <input type="password" asp-for="@Model.Password" class="form-control"/>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">@localizer["Enter"]</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}