@using SmartShelter_Web.Models.ViewModel;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AddTreatmentVM

<div class="card mt-3 text-center">
    <div class="card-body">
        <h3 class="text-primary">@localizer["AddTreatment"]</h3>
        @if (Model.Disease != null)
        {
            <div class="row">
                <h4>@localizer["Disease"]: @Model.Disease.Name</h4>
            </div>
        }
        <hr />
        <form method="post" asp-action="AddDiseaseTreatment" asp-controller="Treatment">
            <input hidden asp-for="@Model.NewTreatment.AnimalId" />
            <input hidden asp-for="@Model.NewTreatment" />
            @if (Model.Disease != null)
            {
                <input hidden asp-for="@Model.Disease.Id" />
            }
            <div class="row">
                <div class="col-4">
                    <label class="p-0 pb-2 " asp-for="@Model.NewTreatment.Type">@localizer["Type"]</label>
                    <input asp-for="@Model.NewTreatment.Type" class="form-control" />
                </div>
                <div class="col-4">
                    <label class="p-0 pb-2 " asp-for="@Model.NewTreatment.ExpirationDate">@localizer["ExpDate"]</label>
                    <input type="date" asp-for="@Model.NewTreatment.ExpirationDate" class="form-control" />
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-10">
                    <label class="p-0 pb-2" asp-for="@Model.NewTreatment.Notes">@localizer["Notes"]</label>
                    <textarea asp-for="@Model.NewTreatment.Notes" class="form-control"></textarea>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-success">@localizer["Submit"]</button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="card mt-3 text-center">
    <div class="card-body">
        <h3 class="text-primary">@localizer["Supplies"]</h3>
        @if (Model.SuppliesToAdd.Count > 0)
        {
            <hr />
            <h5>Added Supplies</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>@localizer["Type"]</th>
                        <th>@localizer["Name"]</th>
                        <th>@localizer["Amount"]</th>
                        <th>@localizer["UOM"]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <form method="post" asp-action="DeleteSupply" asp-controller="Treatment">
                        <input hidden asp-for="@Model.NewTreatment.AnimalId" />
                        <input hidden asp-for="@Model.NewTreatment" />
                        @for (int i = 0; i < Model.SuppliesToAdd.Count; i++)
                        {
                        <tr>
                            <td>@Model.SuppliesToAdd[i].Type</td>
                            <td>@Model.SuppliesToAdd[i].Name</td>
                            <td>@Model.SuppliesToAdd[i].Amount</td>
                            <td>@Model.SuppliesToAdd[i].UnitOfMeasure</td>
                            <td>

                                <input type="hidden" asp-for="@Model.indexToDelete" value="@i" />
                                <button type="submit" class="btn btn-outline-danger" >@localizer["Delete"]</button>

                            </td>
                        </tr>
                        }
                    </form>
                </tbody>
            </table>
        }
        <hr />
        <h5>@localizer["AddNew"]</h5>
        <form method="post" asp-action="AddSupply" asp-controller="Treatment">
            @if (Model.Disease != null)
            {
                <input hidden name="diseaseId" asp-for="@Model.Disease.Id" />
            }
            <input hidden asp-for="@Model.NewTreatment.AnimalId" />
            <input hidden asp-for="@Model.SuppliesToAdd" />
            <div class="row">
                <div class="col-2">
                    <label class="p-0 pb-2 " asp-for="@Model.NewSupply.Type">@localizer["Type"]</label>
                    <input asp-for="@Model.NewSupply.Type" class="form-control" />
                </div>
                <div class="col-3">
                    <label class="p-0 pb-2 " asp-for="@Model.NewSupply.Name">@localizer["Name"]</label>
                    <input type="text" asp-for="@Model.NewSupply.Name" class="form-control" />
                </div>
                <div class="col-2">
                    <label class="p-0 pb-2" asp-for="@Model.NewSupply.Amount">@localizer["Amount"]</label>
                    <input type="number" asp-for="@Model.NewSupply.Amount" class="form-control" />
                </div>
                <div class="col-2">
                    <label class="p-0 pb-2" asp-for="@Model.NewSupply.UnitOfMeasure">@localizer["UOM"]</label>
                    <input type="text" asp-for="@Model.NewSupply.UnitOfMeasure" class="form-control" />
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-success">@localizer["Add"]</button>
                </div>
            </div>

        </form>
    </div>
</div>