@using SmartShelter_Web.Models.ViewModel;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SuppliesVM


<div class="row text-center">
    <div class="card ">
        <div class="card-body ">
             <h3 class="text-primary">@localizer["Supplies"]</h3>
            <hr />
            @if (Model.Supplies.Count > 0)
            {
                <table class="table table-bordered m-2 col-10">
                    <thead>
                        <tr>
                            <th>@localizer["Type"]</th>
                            <th>@localizer["Name"]</th>
                            <th>@localizer["Amount"]</th>
                            <th>@localizer["UOM"]</th>
                            @if (!Model.IsClosed)
                            {
                                <th>@localizer["Actions"]</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var supply in Model.Supplies)
                        {
                            <tr>
                                <td>@supply.Type</td>
                                <td>@supply.Name</td>
                                <td>@supply.Amount</td>
                                <td>@supply.UnitOfMeasure</td>
                                @if (!Model.IsClosed)
                                {
                                    <td>
                                        <a class="btn btn-outline-info" asp-action="DeleteInsertedSupply" asp-controller="Treatment"
                                        asp-route-supplyId="@supply.Id"  asp-route-treatmentId="@Model.TreatmentId"
                                    >@localizer["Delete"]</a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>@localizer["NoSupplies"]</h3>
            }

        </div>
    </div>
</div>